In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in d:\anaconda\envs\fazal\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in d:\anaconda\envs\fazal\lib\site-packages (from pymongo) (2.3.0)

In [1]:
import pymongo

In [2]:
client=pymongo.MongoClient('mongodb://localhost:27017')

In [7]:
mydb=client['employee']

In [8]:
info=mydb.employeeinformation

In [9]:
record={'firstname':'Krish',
        'lastname':'Naik',
        'dep':'Data'
    
    
    
}#we can aslo add multiple records by insert many . By using list iof record sd

In [10]:
info.insert_one(record)

In [19]:
info.update_one({'firstname':'Krish'},{"$set":{'dep':'maths'}})#updating the  teh DAta

In [20]:
#finding teh data 
data=info.find_one({'firstname':'Krish'})

In [26]:
data['firstname']

'Krish'

In [27]:
for r in info.find():
    print(r['firstname'])

Krish

In [28]:
#for using $in  work like or 
for r in info.find({'dep':{'$in':['maths','english']}}):
      print(r)

{'_id': ObjectId('65d1f2305f00b8245170bf4a'), 'firstname': 'Krish', 'lastname': 'Naik', 'dep': 'maths'}

In [30]:
record2=[
    {'firstname':'A',
        'lastname':'B',
        'dep':'english'},
    {'firstname':'C',
        'lastname':'D',
        'dep':'maths'},
    
    
    
    

    
    
    
]

In [31]:
info.insert_many(record2)#isnerting many records

In [32]:
for r in info.find({'dep':{'$in':['maths','english']}}):#another eg for or 
      print(r)

{'_id': ObjectId('65d1f2305f00b8245170bf4a'), 'firstname': 'Krish', 'lastname': 'Naik', 'dep': 'maths'}
{'_id': ObjectId('65d1f8105f00b8245170bf4b'), 'firstname': 'A', 'lastname': 'B', 'dep': 'english'}
{'_id': ObjectId('65d1f8105f00b8245170bf4c'), 'firstname': 'C', 'lastname': 'D', 'dep': 'maths'}

In [37]:
#$lt mean less than in mongo Db
#for And operator in Mongo 

for r in info.find({'firstname':'A','dep':'english'}):#another eg for or 
      print(r)

{'_id': ObjectId('65d1f8105f00b8245170bf4b'), 'firstname': 'A', 'lastname': 'B', 'dep': 'english'}

In [39]:
#For Or Operator 

for r in info.find({'$or':[{'firstname':'A'},{'dep':'english'}]}):#another eg for or 
      print(r)

{'_id': ObjectId('65d1f8105f00b8245170bf4b'), 'firstname': 'A', 'lastname': 'B', 'dep': 'english'}

In [40]:
inventory=mydb.inventry#nested Documents

In [41]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [43]:
for r in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
     print(r)

{'_id': ObjectId('65d2043f5f00b8245170bf4d'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [47]:
inventory.update_one({'item': "journal"},{'$set':{'size.h':18},'$currentDate':{'lastModified':True}})#isme ham value ko upadte rkhay hain and uske andar jakr valeu chaneg krhay hain 

#last modfied ka matlab ye he ke isme lastest valeu udpaetd hogi

In [49]:
for r in inventory.find({'size': { 'h': 18, 'w': 21,'uom': "cm" }}):
     print(r)

{'_id': ObjectId('65d2043f5f00b8245170bf4d'), 'item': 'journal', 'qty': 25, 'size': {'h': 18, 'w': 21, 'uom': 'cm'}, 'status': 'A', 'lastModified': datetime.datetime(2024, 2, 18, 13, 43, 10, 464000)}

In [ ]:
#replace one 
#you can replace with any structure no need to follow schema 
#replace_one("filter",replace with )

Working on Aggragate

In [3]:
# Access database  
mydatabase = client['Students']

In [4]:
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

for every time using aggreagate function we have to use group function

In [8]:
#find amit nad krish  total subjects 
agg_result=collection.aggregate([
    {
        "$group":{
            "_id":"$user", #unique identification to group by
            "total_subject":{"$sum":1}
        }
    }
])
for r in agg_result:
    print(r)

{'_id': 'Amit', 'total_subject': 3}
{'_id': 'Krish', 'total_subject': 3}

In [22]:
#total Score
agg_result2=collection.aggregate([
    
    {
        "$group":{
            "_id":"$user",
            "total score":{"$sum":"$score"}
            
            
        }
        
        
    }
    
    
])

In [23]:
for r in agg_result2:
    print(r)

{'_id': 'Krish', 'total score': 250}
{'_id': 'Amit', 'total score': 235}

In [24]:
#calculating average on base of user

In [28]:
agg_result3=collection.aggregate([
    {"$group":{
        "_id":"$user",
        "average ":{"$avg":"$score"}
        
        
    }
    }
    
])

In [29]:
for r in agg_result3:
    print(r)

{'_id': 'Krish', 'average ': 83.33333333333333}
{'_id': 'Amit', 'average ': 78.33333333333333}

In [30]:
#new data for datetime things

In [31]:
import datetime as datetime

In [32]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [33]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2024, 2, 18, 16, 14, 4, 489744)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2024, 2, 18, 16, 14, 4, 489744)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2024, 2, 18, 16, 14, 4, 489744)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2024, 2, 18, 16, 14, 4, 489744)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2024, 2, 18, 16, 14, 4, 489744)}]

In [34]:
mycollection=mydatabase['stores']  
mycollection.insert_many(data)

In [38]:
#calculating by average quanitity + aveager price by  q*price thend adding them up then using the $avg on them 

agg_result4=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])

In [40]:
for i in agg_result4: 
    print(i)

{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

In [41]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [42]:
# Access collection of the database  
collection=mydatabase['Books']

In [43]:
collection.insert_many(data)

In [46]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1,"copies":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334', 'copies': 5}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999', 'copies': 2}

For Pymongo cloud !pip install pymongo[srv]